bump2version==0.5.10
mock==3.0.5
pip==19.1.1
py==1.8.0
pytest==4.5.0
pytest-runner==5.1
pyyaml==5.1
six==1.12.0
Sphinx==1.8.5 # pyup: <2.0 # for Python 2.7 and 3.4 support
sphinx_rtd_theme==0.4.3
tox==3.12.1
twine==1.13.0
wheel==0.33.4
